/* Fonts */
@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Archivo1';
  src: url('/fonts/Archivo/Archivo-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

:root {
  /* --light-color: whitesmoke; */
  /* --dark-color: rgb(30, 30, 30); */
  /* --dark-brown-color: #1a0e08; */

  --footer-color: rgb(30, 30, 30);

  --groupodd-color-d: rgb(64, 64, 64);
  --groupev-color-d: rgb(140, 140, 140);

  --groupodd-color-l: white;
  --groupev-color-l: rgb(230, 230, 230);


  --l-color-bg: rgb(255, 255, 255);
  --l-color-surface: rgb(245, 245, 245);
  --l-color-text-primary: rgb(30, 30, 30);
  --l-color-text-secondary: rgb(100, 100, 100);
  --l-color-accent: rgb(0, 120, 212);
  --l-color-error: rgb(220, 38, 38);
  --l-color-border: rgb(220, 220, 220);

  --d-color-bg: rgb(18, 18, 18);
  --d-color-surface: rgb(28, 28, 30);
  --d-color-text-primary: rgb(255, 255, 255);
  --d-color-text-secondary: rgb(180, 180, 180);
  --d-color-accent: rgb(100, 180, 255);
  --d-color-error: rgb(255, 87, 87);
  --d-color-border: rgb(60, 60, 60);
  

  /* --overlay-gradient: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)); */
}


* {
    font-family: 'Archivo1', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    scroll-behavior: smooth;
  }

  body{
    background: #1c0e06;
  }


  a{
    text-decoration: none;
    cursor: pointer;
  }
  a:hover{
    color: #2694dd !important;
    transition: .2s;
  }
  a:visited{
    color: inherit;
  }
  
  /* HEADINGS */
  
  h1, p {
    color: #fff;
    text-align: center;
    line-height: 1.5;
    font-family: 'Archivo1', sans-serif;
  }
  
  h1 {
    font-size: 2.2rem;
    /* font-family: 'Archivo', sans-serif; */
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .containerTw{
    width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
    
  }

  .typewriterEffect {
    display: inline-block;
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 0ch;
    animation: typing 4s steps(12, end) forwards, cursor 0.5s step-end infinite;
  }
  @keyframes typing {
    from { width: 0ch; }
    to { width: 16ch; } /* Match your exact text length */
  }
  @keyframes cursor {
    50% { border-color: transparent; }
  }
  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
    background: linear-gradient(-45deg, #EE7752, #8a3003, #63620d, #402d01);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    /* height: 50px; */
    overflow: hidden;
    /* background-color: rgb(56, 56, 56); */
  }

  .navbar .nav-title {
    color: black;
    /* font-family: "Pacifico" !important; */
    /* margin-left: 0px; */
    padding: 5px;

    /* margin-bottom: 25px; */
  }
  /* .navbar .nav-title:hover {
    color: red;

  } */

  .nav-title span {
    display: inline;
    transition: color 0.3s ease;
  }

  .nav-title:active span {
    transition: .2s;
    font-size: 5.9rem;
  }
  
  /* Base hover style - triggers only when hovering the entire title */
  .nav-title:hover span {
    /* background-color: rgb(100, 180, 220); */
    color: rgb(100, 180, 220);
    border-radius: 2px;
  }

  .nav-title:active span {
    /* background-color: rgb(100, 180, 220); */
    font-size: 25px;
  }
  

  /* Delays to make the background change one letter after another */
  .nav-title:hover span:nth-child(1) {
    transition-delay: 0s;
  }
  .nav-title:hover span:nth-child(2) {
    transition-delay: 1.5s;
  }
  .nav-title:hover span:nth-child(3) {
    transition-delay: 0.2s;
  }
  .nav-title:hover span:nth-child(4) {
    transition-delay: 0.3s;
  }
  .nav-title:hover span:nth-child(5) {
    transition-delay: 0.4s;
  }
  .nav-title:hover span:nth-child(6) {
    transition-delay: 1.6s;
  }
  .nav-title:hover span:nth-child(7) {
    transition-delay: 0.6s;
  }
  .nav-title:hover span:nth-child(8) {
    transition-delay: 0.7s;
  }
  .nav-title:hover span:nth-child(9) {
    transition-delay: 1.7s;
  }
  
  
  .navbar ul {
    list-style: none;
    display: flex;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    
  }

  .nav-item{
    margin: 15px;
    white-space: nowrap;
  }
  
  .nav-item a {
    color: #000;
    /* font-size: rem; */
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out !important;
    font-weight: bolder;
  }
  
  .nav-item a:hover {
    color: #2694dd !important;
    
  }
  
  /* SECTIONS */
  
  .headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('/assets/lena.jpg');
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
  }
  
  .group {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
  }

  .footer {
    /* border-radius: 5px 5px 0 0; */
    width: 100%;
    height: auto;

    background-color: #484848;
    display: flex;
    /* padding: 40px; */
    justify-content: space-around;

    padding: 40px; margin: 0; border-radius: 0
    
  }
  .footer h2, .footer p, .footer a {
    color: white;
    
  }
  .footer-container {
    flex-basis: 30%;
    margin-top: 20px;
  }
  .footer-container p{
    text-align: left;
    padding: 4px;
  }

  .group:nth-child(odd) {
    background-color: rgb(216, 216, 216);
  }
  
  .about-container {
    flex-basis: 90%;
    /* margin-top: 10px; */
  }

  .about-container p {
    /* color: #000; */
    /* text-align: center; */
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .feature-container {
    flex-basis: 30%;
    margin-top: 10px;
  }
  
  .feature-container p {
    /* color: #000; */
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .feature-container img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* SEARCH FUNCTION */

  
  /* 
   #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  }
  
  #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  }
  
  .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  }
  
  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }
  
  .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  }
  
  .search-active {
    opacity: 1;
    z-index: 0;
  }
  
  input {
    border: 0;
    border-left: 1px solid #cccccc;
    border-radius: 0; /* FOR SAFAri
    outline: 0;
    padding: 5px;
  } 

  
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #c21212;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
    }
    
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      /* text-align: left; */
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #ffffffe2;
      width: 60%;
      height: calc(100vh - 55px);
      transform: translate(100%);
      transition: transform .8s ease-in-out;
      /* text-align: ; */
      overflow: hidden;
    }

    .nav-title{
      /* font-size: 3rem; */
      margin: 1.5vh;
      white-space: nowrap;
    }
    
    .navbar li {
      padding: 0px;
      
    }
    
    .navbar li:first-child {
      margin-top: 10vh;
    }

    .navbar .nav-opt {
        margin-top: 30vh;
      }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
    /* SECTIONS */
    
    .headline {
      height: 20vh;
    }
      
    .feature-container p {
      margin-bottom: 25px;
    }
    
    .feature-container {
      margin-top: 20px;
    }
    
    .feature-container:nth-child(2) {
      order: -1;
    }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
      display: none;
    }
    
    .search-input {
    display: none;
   }

   .typewriterEffect {
    font-size: 2em;         /* Smaller font size */
    letter-spacing: 4px;      /* Less spacing so it doesn’t overflow */
    border-right: 3px solid;  /* Thinner cursor */
  }

  .headline {
    
    background-attachment: scroll;
    
  }
    
  }

 /* DARK THEME OVERRIDES */
[data-theme="dark"] .nav-wrapper {
  background-color: var(--d-color-surface);
}
[data-theme="dark"] .navbar ul {
  background-color: var(--d-color-surface);
}
[data-theme="dark"] .nav-item a {
  color: var(--l-color-bg);
}
[data-theme="dark"] .navbar .nav-title {
  color: var(--l-color-bg);
}
[data-theme="dark"] .menu-toggle .bar {
  background-color: var(--l-color-bg);
}

[data-theme="dark"] .group:nth-child(odd) {
  background-color: var(--d-color-surface);
}

[data-theme="dark"] .group:nth-child(even) {
  background-color: var(--d-color-bg);
}



/* white */
[data-theme="light"] .group:nth-child(odd) {
  background-color: var(--l-color-bg);
}

[data-theme="light"] .group:nth-child(even) {
  background-color: var(--l-color-surface);
}

/* fonts  */
[data-theme="dark"] .group,
[data-theme="dark"] .group *,
[data-theme="dark"] p {
  color: var(--d-color-text-primary);
}

[data-theme="light"] .group,
[data-theme="light"] .group *,
[data-theme="light"] p {
  color: var(--l-color-text-primary);
}




/* LIGHT THEME OVERRIDES */
[data-theme="light"] .nav-wrapper {
  background-color: var(--l-color-bg);
}
[data-theme="light"] .navbar ul {
  background-color: var(--l-color-bg);
}
[data-theme="light"] .nav-item a {
  color: var(--l-color-text-primary);
}
[data-theme="light"] .navbar .nav-title {
  color: var(--l-color-text-primary);
}
[data-theme="light"] .menu-toggle .bar {
  background-color: var(--d-color-bg);
}

  ::-webkit-scrollbar {
    width: 10px;       /* Vertical scrollbar width */
    height: 10px;      /* Horizontal scrollbar height */
  }

  ::-webkit-scrollbar-track {
    background: rgb(80, 80, 80);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--l-color-bg);
    /* border-radius: 5px; */
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 152);
  }

  ::-webkit-scrollbar-thumb:active {
    background: var(--d-color-surface);
  }
